# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio 관련 임시 파일
.vs/
*.ipch
x64/
Release/
Debug/
Inc/
enc_temp_folder/
Jusin154_Team3D/Client/Bin/Resources/

# Imgui 임시 파일
imgui.ini
/Jusin154_Team3D/Editor/Bin/Resources/Models/MapMesh/Game/Levels/Overland/SubLevels/HS_AI_Feature_CastleRuin_01LOD/ProxyAssets/SM_MERGED_SM_GobMine_CoalPile_HS_AI_LOD1/T_SM_MERGED_SM_GobMine_CoalPile_HS_AI_LOD1_Diffuse.dds
